<app-header titulo="Date Time"></app-header>


<ion-content>
    <ion-list-header>
        <ion-label>BirthDate</ion-label>
    </ion-list-header>
    <ion-item>
        <ion-label>Date Time</ion-label>
        <!-- <ion-datetime value="{{birthDay | date: 'yyyy-MM-dd' }}" display-format="YYYY MMMM DD" cancelText="Cancelar!!" [ngModel]="birthDay" (ionChange)="changeDate($event)"></ion-datetime> -->
        <ion-datetime display-format="YYYY MMMM DD" cancelText="Cancelar!!" [ngModel]="birthDay.toISOString()" (ionChange)="changeDate($event)" placeholder="birthDay"></ion-datetime>
    </ion-item>


    <ion-list-header>
        <ion-label>Restricciones</ion-label>
    </ion-list-header>
    <ion-item>
        <ion-label>Min y Max</ion-label>
        <ion-datetime display-format="YYYY MMMM DD" min="2015-01-01" cancelText="Cancelar!!" [ngModel]="birthDay.toISOString()" (ionChange)="changeDate($event)" placeholder="yyyy-MM-dd">

        </ion-datetime>
    </ion-item>

    <ion-item>
        <ion-label>Años</ion-label>
        <ion-datetime display-format="YYYY" min="2000" max="2021" value="2020" cancelText="Cancelar!!" [ngModel]="birthDay.toISOString()" (ionChange)="changeDate($event)" placeholder="yyyy-MM-dd">

        </ion-datetime>
    </ion-item>

    <ion-item>
        <ion-label>Custom Date</ion-label>
        <ion-datetime [pickerOptions]="customPickerOptions" [(ngModel)]="customDate"></ion-datetime>

    </ion-item>
</ion-content>